#player{
    border-style: solid;
    border-radius: 15cap;
    border-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 15cap;
    align-items: center;
}


#computer{
    border-style: solid;
    border-radius: 10cap;
    border-color: black;
    padding: 5cap;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outcome{
    border-style: solid;
    border-radius: 10cap;
    border-color: black;
    padding: 10cap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section{
    border-style: solid;
    border-color: black;
    border-radius: 10cap;

}

div{
    display: flex;

}

#text{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#computerB{
    color: blue;
}

.btn:focus {
    border-style: solid;
    border-color: green;
    border-radius: 5%;
    border-width: 1cap;
    background-color: black;

}

.btn2{
    border-style: solid;
    border-color: blue;
    border-radius: 5%;
    border-width: 1cap;
    background-color: black;
}